@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Manrope", sans-serif;
}
:root {
    --white-color: #fff;
    --text-color: #191720;
    --text-second-color: #575363;
    --text-second-opacity: #575363b3;
    --border-color: #19172059;
    --btn-bg-color: #572af8;
}
